.header {
    align-items: center;
    border-bottom: 1px solid #ECECEC;
    position: relative;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
}

.navigation {
    display: flex;
    align-items: center;

    &__item {
        margin-right: 50px;
        position: relative;
        transition: color 250ms $timingFunction;
    }

    &__list {
    display: flex;
    }

    &__link {
    @include font(14px, 1.14, 500, 0.02em);
    color: $firstTitleColor;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;}

    &__anchor {
     @extend .navigation__link;
     transition: color 250ms $timingFunction;
    }
}

.up-text::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    background-color: $accentColor;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.under-text::after {
    content: "";
    display: block;
    width: 78px;
    height: 4px;
    background-color: $accentColor;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.contacts {
     @media screen and (min-width:768px) and (max-width:1199px) {
    display: block;
    margin-left: 96px;}
    
    @media screen and (min-width:1200px){
        padding-bottom: 32px;
        padding-top: 32px;
         margin-left: 318px;
    }

    &__wrap {
       
     @media screen and (min-width:768px) and (max-width:1199px) {
        padding-bottom: 21px;
        padding-top: 21px;
     }
    }
}


       
.contacts__tel { color: $firstTextColor;
    transition: color 250ms $timingFunction;

    @media screen and (min-width:1200px){
    margin-left: 30px;
    }
}

.contacts__email {transition: color 250ms $timingFunction;
    color: $firstTextColor;

    @media screen and (min-width:768px) and (max-width:1199px) {
      margin-bottom: 10px;
    }
}

.contacts--email-icon,
.contacts--tel-icon {
    fill: currentColor;
    background-position: center;
    background-size: contain;
    transition: color 250ms $timingFunction;

    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-right: 8px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .contacts--email-icon{
        width: 14px;
        height: 10px;
    }

    .contacts--tel-icon{
        width: 10px;
        height: 14px;
    }
}

.contacts__tel,
.contacts__email {
    @media screen and (min-width:1200px) {
    @include font(14px, 1.14, 500, 0.02em);
    font-style: normal;
    color: $firstTextColor;}

    @media screen and (min-width:768px) and (max-width:1199px) {
        @include font(12px, 1.16, 500, 0.02em);
    }
}