.workers {
    background-color: $firstBackgroundColor;
  
    &-container {
    @media screen and (min-width:320px) {
         margin-top: 60px;
         padding-bottom: 60px;
        }
    }

    &__box {
        width: 270px;
        background-color: $secondTitleColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and(min-width:320px){
            width: 450px;
            margin-bottom: 30px;
        }

        @media screen and(min-width:768px) and (max-width:1199px){
            width: 354px;
        }
    }

    &--secondary-box {
        padding-top: 30px;
        padding-bottom: 30px;
        //margin-bottom: 30px;
    }

    &__name {
        @include font(16px, 1.18, 500, 0.03em);
        text-align: center;
        color: $firstTitleColor;

        margin-bottom: 10px;
    }

    &__text {
        @include font(16px, 1.18, 400, 0.03em);
        text-align: center;
        color: $firstTextColor;
    }

    &__item{
        @media screen and (min-width:768px) and (max-width:1199px) {
            max-width: calc((100% - 30px) / 2);
        }
    }
}

.worker-icon {
    fill: $socIconColor;
    transition: fill 250ms $timingFunction;

        .social-link:hover &,
        .social-link:focus & {
            fill: $secondTitleColor;
    }
}