@mixin font($fs, $lh, $fw, $ls) {
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    letter-spacing: $ls;
}

@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        @content;
    }
}
