$accentColor:#2196F3;
$logoColor:#000000;
$socIconColor: #AFB1B8;
$firstBackgroundColor: #F5F4FA;
$secondBackgroundColor: #2F303A;
$thirdBackgroundColor:#FFFFFF;
$firstBtnColor: #212121;
$secondBtnColor: #FFFFFF;
$hoverBtnColor:#188CE8;
$firstTextColor: #757575;
$secondTextColor: rgba(255, 255, 255, 0.6);
$firstTitleColor: #212121;
$secondTitleColor: #FFFFFF;
$shadowColor: rgba(0, 0, 0, 0.15);
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1); 
$cardSetGap: 30px;
$firstFontFamily:'Roboto',sans-serif;
$secondFontFamily:"Raleway",sans-serif;